model/
data/
results/
saved_results/
*.zip
*.npy
*.pth
*.DS_Store
demo/model_final_celeba.pt
dirichlet/model_final_mnist_dirichlet.pt
.ipynb_checkpoints
demo/.ipynb_checkpoints
demo/demo_copy.ipynb
demo/iter*.png

*.pyc
*/__pycache__/*
/pnpflow.egg-info/*
*.pt

build/